@model ChealCore.Models.CustomerAccount

@{
    ViewData["Title"] = "Create";
}

<h4 style="margin-left:14%">Create Customer Account</h4>
<br />

<div class="row" style="margin-left:14%">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="margin-bottom:5px">
                <label asp-for="CustomerID" class="control-label"></label>
                <select asp-for="CustomerID" class="form-control" asp-items="ViewBag.CustomerID"></select>
            </div>
            <div class="form-group" style="margin-bottom:5px">
                <label asp-for="AccountName" class="control-label"></label>
                <input asp-for="AccountName" class="form-control" />
                <span asp-validation-for="AccountName" class="text-danger"></span>
            </div>
            @*   <div class="form-group">
                    <label asp-for="AccountNumber" class="control-label"></label>
                    <input asp-for="AccountNumber" class="form-control" disabled/>
                    <span asp-validation-for="AccountNumber" class="text-danger"></span>
                </div>*@
            <div class="form-group" style="margin-bottom:5px">
                <label asp-for="AccountBalance" class="control-label"></label>
                <input asp-for="AccountBalance" class="form-control" />
                <span asp-validation-for="AccountBalance" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom:5px">
                <label asp-for="Accounttype" class="control-label"></label>
                <select asp-for="Accounttype" class="form-control">
                    <option value="Savings">Savings</option>
                    <option value="Current">Current</option>
                    <option value="Loan">Loan</option>
                </select>
                <span asp-validation-for="Accounttype" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom:5px">
                <label asp-for="DateOpened" class="control-label"></label>
                <input asp-for="DateOpened" class="form-control" />
                <span asp-validation-for="DateOpened" class="text-danger"></span>
            </div>
            <div class="form-group form-check" style="margin-bottom:5px">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActivated" /> @Html.DisplayNameFor(model => model.IsActivated)
                </label>
            </div>
            <div class="form-group" style="margin-bottom:5px">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div style="margin-left:14%">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
