@model ChealCore.Models.CustomerAccount

@{
    ViewData["Title"] = "Manage Customer Account";
}


<div class="container">
    <div class="my-3">
        <a asp-action="Index" class="nav-link active px-0"><i class="bi bi-arrow-left"></i> Back</a>
    </div>
    <form asp-action="Manage" class="w-50 mx-auto">
        <h4>Manage Customer Account</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group mb-3">
            <label asp-for="CustomerID" class="control-label my-2"></label>
            <select asp-for="CustomerID" class="form-control" asp-items="ViewBag.CustomerID"></select>
            <span asp-validation-for="CustomerID" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="AccountName" class="control-label my-2"></label>
            <input asp-for="AccountName" class="form-control" />
            <span asp-validation-for="AccountName" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="AccountNumber" class="control-label my-2"></label>
            <input asp-for="AccountNumber" class="form-control" />
            <span asp-validation-for="AccountNumber" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="AccountBalance" class="control-label my-2"></label>
            <input asp-for="AccountBalance" class="form-control" />
            <span asp-validation-for="AccountBalance" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="Accounttype" class="control-label my-2"></label>
            <select asp-for="Accounttype" class="form-control">
                <option value="Savings">Savings</option>
                <option value="Current">Current</option>
                <option value="Loan">Loan</option>
            </select>
            <span asp-validation-for="Accounttype" class="text-danger"></span>
        </div>
        <div class="form-group form-check mb-3">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="IsActivated" /> @Html.DisplayNameFor(model => model.IsActivated)
            </label>
        </div>
        <div class="form-group mb-3">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
