@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="container">
    <h4>Email Confirmed</h4>
    <hr />
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</div>
