@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="container mt-5">
    <div class="my-3">
        <a asp-action="Index" asp-controller="UserManager" class="nav-link active px-0"><i class="bi bi-arrow-left"></i> Back to User Manager</a>
    </div>
    <h5 style="width:500px;">
        Confirmation Email sent to @Model.Email.
    </h5>
</div>