@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="container mt-5">
    <h4 class="mx-auto" style="width:450px;">
        Check your mail to complete your registration
    </h4>
</div>