@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="container mt-5">
    <h5 style="width:500px;">
        Check your mail to complete your registration
    </h5>
</div>