@model CreateRolesViewModel
@{
    ViewData["Title"] = "Role Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
    @*var ErrorMessage = ViewData.ModelState["RoleInputName"].Errors[0].ErrorMessage;*@
}

<div class="container mt-4">
    <h4>Role Manager</h4>
    <hr />
    <form method="post" asp-action="AddRole" asp-controller="RoleManager">
        <div class="form-group">
            <input asp-for="InputName" class="form-control w-25 mb-2" />
            <p class="text-danger">@TempData["ErrorMessage"]</p>
            <button class="btn btn-primary" type="submit">
                <i class="bi bi-folder-plus px-2"></i>
                Add New Role
            </button>
        </div>
    </form>
    <table class="table table-hover align-right mb-0 mt-4">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Role</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Roles != null)
            {
                foreach (var role in Model.Roles)
                {
                    if (role.NormalizedName != "SUPERADMIN")
                    {
                        <tr>
                            <th scope="row">@i</th>
                            <td>@role.NormalizedName</td>
                            <td>
                                <a style="float:right;" asp-controller="RoleManager" asp-action="Manage" asp-route-id="@role.Id">
                                    Manage
                                </a>
                            </td>
                        </tr>
                    }
                    i++;
                }
            }
        </tbody>
    </table>
</div>
