@model Microsoft.AspNetCore.Identity.IdentityRole

@{
    ViewData["Title"] = "Manage roles";
}

<div class="container mt-5">

    <h4>ApplicationRole</h4>
    <hr />
    <form asp-action="Delete" asp-controller="RoleManager" class="mt-2 col">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger ms-auto">Delete</button>
    </form>
    <hr />
    <div class="row">
        <div class="col">
            <form asp-action="Edit" asp-controller="RoleManager">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*<div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsEnabled" /> @Html.DisplayNameFor(model => model.IsEnabled)
                        </label>
                    </div>*@
                <input type="hidden" asp-for="Id" />
                <div class="form-group mt-2">
                    <label asp-for="Name" class="control-label mb-1"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a class="btn btn-secondary" asp-action="Index" asp-controller="RoleManager">Cancel</a>
                </div>
            </form>

            <div class="card mt-3">
                <div class="card-header">
                    <h5>Role Functions</h5>
                </div>
                <div class="card-body">

                </div>
                <div class="card-footer">
                    <a href="#" style="width:auto" class="btn btn-primary">
                        Manage Functions
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
