@model ChealCore.Models.LoanAccount

@{
    ViewData["Title"] = "Manage";
}

<div class="container">
    <div class="my-3">
        <a asp-action="Index" class="nav-link active px-0"><i class="bi bi-arrow-left"></i> Back</a>
    </div>
    <form asp-action="Manage" class="w-50 mx-auto">
        <h4>Edit Loan Account</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group mb-3">
            <label asp-for="CustomerAccountId" class="control-label my-1"></label>
            <select asp-for="CustomerAccountId" class="form-control" asp-items="ViewBag.CustomerAccountId"></select>
            <span asp-validation-for="CustomerAccountId" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="AccountName" class="control-label my-1"></label>
            <input asp-for="AccountName" class="form-control" />
            <span asp-validation-for="AccountName" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="LoanAmount" class="control-label my-1"></label>
            <input asp-for="LoanAmount" class="form-control" />
            <span asp-validation-for="LoanAmount" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="LoanTerms" class="control-label my-1"></label>
            <select asp-for="LoanTerms" class="form-control" asp-items="ViewBag.LoanTerms"></select>
            <span asp-validation-for="LoanTerms" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="NumberOfYears" class="control-label my-1"></label>
            <input asp-for="NumberOfYears" class="form-control" />
            <span asp-validation-for="NumberOfYears" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="InterestRate" class="control-label my-1"></label>
            <input asp-for="InterestRate" class="form-control" />
            <span asp-validation-for="InterestRate" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="ServicingAccountNumber" class="control-label my-1"></label>
            <input asp-for="ServicingAccountNumber" class="form-control" />
            <span asp-validation-for="ServicingAccountNumber" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="BranchID" class="control-label my-1"></label>
            <select asp-for="BranchID" class="form-control" asp-items="ViewBag.BranchID"></select>
            <span asp-validation-for="BranchID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
