@model ChealCore.Models.LoanAccount

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LoanAccount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CustomerAccountId" class="control-label"></label>
                <select asp-for="CustomerAccountId" class="form-control" asp-items="ViewBag.CustomerAccountId"></select>
                <span asp-validation-for="CustomerAccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountName" class="control-label"></label>
                <input asp-for="AccountName" class="form-control" />
                <span asp-validation-for="AccountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoanAmount" class="control-label"></label>
                <input asp-for="LoanAmount" class="form-control" />
                <span asp-validation-for="LoanAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoanTerms" class="control-label"></label>
                <select asp-for="LoanTerms" class="form-control"></select>
                <span asp-validation-for="LoanTerms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfYears" class="control-label"></label>
                <input asp-for="NumberOfYears" class="form-control" />
                <span asp-validation-for="NumberOfYears" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterestRate" class="control-label"></label>
                <input asp-for="InterestRate" class="form-control" />
                <span asp-validation-for="InterestRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServicingAccountNumber" class="control-label"></label>
                <input asp-for="ServicingAccountNumber" class="form-control" />
                <span asp-validation-for="ServicingAccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BranchID" class="control-label"></label>
                <select asp-for="BranchID" class="form-control" asp-items="ViewBag.BranchID"></select>
                <span asp-validation-for="BranchID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
